/* Pour les polices

font-family: 'Jacques Francois', serif;
font-family: 'Source Sans Pro', sans-serif;

*/

#body {
    background-image: url(../images/violonbacknorm22.jpg);
    background-size: cover;
    
}

#h1 {
    font-family: 'Jacques Francois', serif;
    color: lightgrey;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: darkgrey;
    font-size: 2em;
}







/* Et ci-dessous pour le Responsive à venir */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) { ... }*/

/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) { ... } */