/* Pour les polices

font-family: 'Dancing Script', cursive;
font-family: 'Open Sans Condensed', sans-serif;

*/

body {
  background-image: url(../images/violonbacknorm22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/*---navbar-------*/

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  height: 60px;
  background-color: white;
  border-radius: 0;
}

.navbar-brand img {
  margin-top: -45px;
  width: 120px;
}

.navbar-nav > li > a {
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 20px;
  margin-top: 8px;
}

.navbar-nav > li > a:hover {
  color: white;
  background-color: #BA8D61;
  transition: all 0.5s;
  border-radius: 5px;
}

#shadow {
  border-bottom: 1px solid gray;
}

/*------fin navbar-------*/

h1 {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 3em;
  margin-top: 20px;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: lightgrey;
  font-size: 1.5em;
  text-align: center;
}

/*----footer-----*/

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

#brand {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  font-weight: 700;
  margin-left: 25px;
  margin-top: 5px;
  color: black;
}

#brand:hover {
  color: #BA8D61;
}

.navbar-right {
  padding-right: 20px;
}

#txt {
  color: black;
}

.navbar-text {
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  padding: 8px;
  margin-left: 150px;
}

#num {
  color: black
}

#fb {
  margin-top: 0;
}

#fb:hover {
  filter: grayscale(0.8);
}

#ml {
  color: black;
}

#ml:hover {
  color: #BA8D61;
}

#mc {
  color: black;
}

#mc:hover {
  color: #BA8D61;
}

/*---footer------*/

/* Et ci-dessous pour le Responsive à venir */

/* Extra small devices (phones, less than 768px) */

/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) { ... }*/

/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) { ... } */