extend layout
    title Formulaire de login Admin
  body
    .container-login
      .row
        .text-center.luth
          img.logo_admin(src='../public/images/logo_black.png', alt='logo_aubois')
          h1#h1ad  On vous revoit vite?