footer#footer.navbar.navbar-default.navbar-fixed-bottom
  .container-fluid
    .navbar-header
      a#brand.navbar-brand(href='/') Au Bois
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        p#txt.navbar-text.navbar-right
          | 12, rue de rome 75009 Paris FRANCE - 
          a#num.navbar-link(href='#') +33 06.18.54.29.12
      ul.nav.navbar-nav.navbar-right
        li
          a#fb(href='www.facebook.com')
            img(src='https://i.imgur.com/8p79IjB.png')
        li
          a#ml(href='mentions-legales') Mentions Légales
        li
          a#mc(href='contact') Me contacter