extends layout
block cssindex
	link(rel='stylesheet' href='/stylesheets/styleg1.css', type='text/css')

block content

		section
			#container
				.row
					.col-sm-4.col-sm-offset-4
						h1 Mes créations
				.row
					.col-sm-3.col-sm-offset-1
						p.crea Guitares
						img.center-block(src='images/AuboisLuthierPhotodeguitare.jpg', alt='Boutique Au Bois Luthier à Paris, photographie de guitard')
						br
						p
							a.modeles(href='gabaritPdt') >> Modèle 1
						p
							a.modeles(href='gabaritPdt') >> Modèle 2
					.col-sm-4
						p.central
							| Je vous propose plusieurs modèles de guitares et de violoncelles dont vous trouverez les caractéristiques en cliquant sur les liens ci-contre.
						hr
						p
							| Je suis aussi en mesure de réaliser des commandes sur mesure. 
							a.liencentral(href='contact') Je vous invite à me contacter directement ici pour en savoir plus.
					.col-sm-3
						p.crea Violoncelles
						img.center-block(src='images/AuboisLuthierPhotodevioloncelle.jpg', alt='Boutique Au Bois Luthier à Paris, photographie de guitard')
						br
						p
							a.modeles(href='gabaritPdt') >> Modèle 1
						p
							a.modeles(href='gabaritPdt') >> Modèle 2
