extends layout
block cssindex
	link(rel='stylesheet' href='/stylesheets/styleGab.css', type='text/css')

block content
	section
		.row
			.col-xs-offset-4.col-xs-4
				h2.pdt Mes produits
		.row.text
			.col-xs-offset-1.col-xs-5.text
				img.img-responsive.center-block.resize(src='/images/8.jpg', alt='guitare')
			.text
				p.img_text=products.description
					
			.caracteristique
				h4 Caractéristiques :

				ul
					li='>> Référence : ' + products.reference
					li='>> Marque : ' + products.marque
					li='>> Bois utilisée : ' + products.bois_utilise