extends layout
block cssindex
	link(rel='stylesheet' href='/stylesheets/styleGab.css', type='text/css')

block content
	section
		.row
			.col-xs-offset-4.col-xs-4
				h2.pdt Mes produits
		.row.text
			.col-xs-offset-1.col-xs-5.text
				img.img-responsive.center-block.resize(src='/images/8.jpg', alt='guitare')
			.text
			each produit, index in products
				p.img_text= []+ produit.description
					
			.caracteristique
				h4 Caractéristiques :
				ul
					li= produit.reference
					li= produit.marque
					li= produit.bois_utilise