extends layout
block cssindex
	link(rel='stylesheet' href='/stylesheets/styleGab.css', type='text/css')

block content
	section
		.container
			.row
				.col-sm-12.col-xs-12
					h1.pdt Mes produits
			.row.text
				.col-sm-6.col-xs-8.text
					img.img-responsive.center-block.resize(src='/images/'+ products.image, alt='guitare')
				.col-sm-6.col-xs-12.text
					p.img_text!=products.description
						
					.caracteristique
						h4 Caractéristiques :

						ul
							li='>> Référence : ' + products.reference
							li='>> Marque : ' + products.marque
							li='>> Bois utilisée : ' + products.bois_utilise