extend layout
    title Formulaire de login Admin
  body
    .container-login
      .row
        .text-center.luth
          img.logo_admin(src='images/logo_black.png', alt='logo_aubois')
          h1#h1ad  Espace administrateur
          p.pid  Identifiant:
          input.inputid(type='text', name='name')
          //
            <div class="row">
            <div class="center-block luth">
          p.mdplettre Mot de passe:
          input.mdp(type='text', name='password')
          button.valid(type='submit') Valider
