body {
  color: rgba(255,255,255,1);
}

.navbar {
  background-color: black;
}

.navbar-brand img {
  margin-top: -55px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: saddlebrown;
}
